<b><u>Via Fax: <<Insurance.AdjusterName.EmailAddress>></u></b><br>
<<Insurance.InsuranceAddress>>

<br><br>
<<Insurance.InsuranceName>>

<table>
  <tr>
    <td><b>RE: Claimant</b></td>
    <td><<Matter.Client.Name>></td>
  </tr>
  <tr>
    <td><b>Date of Incident</b></td>
    <td><<Matter.Custom.DateOfLoss>></td>
  </tr>
  <tr>
    <td><b>Claim No</b></td>
    <td><<Matter.Custom.ClaimNumber>></td>
  </tr>
  <tr>
    <td><b>Policy No</b></td>
    <td><<Matter.Custom.PolicyNumber>></td>
  </tr>
</table>

<br><br>
Dear <<Insurance.AdjusterName>>,

Please be advised that our firm represents <<Matter.Client.Name>> in relation to injuries sustained in the motor vehicle accident on <<Matter.Custom.DateOfLoss>>.

Sincerely,  
<<Firm.Name>>  
<<Firm.PhoneNumber>>
